    
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a href="index.html">Smart CRM</a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    <li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>

                    <li id="top-search">
                        <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">
                            <i class="tm-icon zmdi zmdi-email"></i>
                            <i class="tmn-counts">4</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg pull-right">
                            <div class="listview">
                                <div class="lv-header">
                                    Mensagens
                                </div>
                                <div class="lv-body">
                                    <a class="lv-item" href="views/messages.html">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img th:src="@{/img/profile-pics/2.jpg}" class="lv-img-sm"  >
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">David Silva</div>
                                                <small class="lv-small">Olá, poderia me explicar o funcionamento do produo?</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="views/messages.html">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" th:src="@{/img/profile-pics/3.jpg}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Lúcia Santos</div>
                                                <small class="lv-small">Bom dia!</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="views/messages.html">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" th:src="@{/img/profile-pics/4.jpg}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">João Lima</div>
                                                <small class="lv-small">Qual o valor do produto?</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="views/messages.html">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" th:src="@{/img/profile-pics/9.jpg}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Vanessa Costa</div>
                                                <small class="lv-small">Olá, tudo bem?</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a class="lv-footer" href="views/messages.html">Ver todas</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="">
                            <i class="tm-icon zmdi zmdi-notifications"></i>
                            <i class="tmn-counts">2</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg pull-right">
                            <div class="listview" id="notifications">
                                <div class="lv-header">
                                    Notificações

                                    <ul class="actions">
                                        <li class="dropdown">
                                            <a href="" data-clear="notification">
                                                <i class="zmdi zmdi-check-all"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lv-body">
                                    <a class="lv-item" href="views/messages.html">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" th:src="@{/img/profile-pics/8.jpg}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Ana Luzia</div>
                                                <small class="lv-small">Mensagem de Ana</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="lv-item" href="views/messages.html">
                                        <div class="media">
                                            <div class="pull-left">
                                                <img class="lv-img-sm" th:src="@{/img/profile-pics/7.jpg}" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="lv-title">Joana Silva</div>
                                                <small class="lv-small">Mensagem de Joana</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <a class="lv-footer" href="views/messages.html">Ver todas</a>
                            </div>

                        </div>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li class="skin-switch hidden-xs">
                                <span class="ss-skin bgm-lightblue" data-skin="lightblue"></span>
                                <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
                                <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
                                <span class="ss-skin bgm-teal" data-skin="teal"></span>
                                <span class="ss-skin bgm-orange" data-skin="orange"></span>
                                <span class="ss-skin bgm-blue" data-skin="blue"></span>
                            </li>
                            <li class="divider hidden-xs"></li>
                            <li class="hidden-xs">
                                <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Tela cheia</a>
                            </li>
                            <li>
                                <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Limpar memória cache</a>
                            </li>
                            <li>
                                <a href=""><i class="zmdi zmdi-face"></i> Configurações privadas</a>
                            </li>
                            <li>
                                <a href=""><i class="zmdi zmdi-settings"></i> Outras configuração</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-xs" id="chat-trigger" data-trigger="#chat">
                        <a href=""><i class="tm-icon zmdi zmdi-comment-alt-text"></i></a>
                    </li>
                </ul>
            </li>
        </ul>


        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <div class="tsw-inner">
                <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                <input type="text">
            </div>
        </div>
    