<!-- Javascript Libraries -->

        

<script th:src="@{/vendors/bower_components/autosize/dist/autosize.min.js}"></script>
<script th:src="@{/vendors/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/vendors/bower_components/flot/jquery.flot.js}"></script>
<script th:src="@{/vendors/bower_components/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/vendors/bower_components/flot.curvedlines/curvedLines.js}"></script>
<script th:src="@{/vendors/sparklines/jquery.sparkline.min.js}"></script>
<script th:src="@{/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js}"></script>
<script th:src="@{/vendors/bower_components/moment/min/moment.min.js}"></script>
<script th:src="@{/vendors/bower_components/fullcalendar/dist/fullcalendar.min.js}"></script>
<script th:src="@{/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js}"></script>
<script th:src="@{/vendors/bower_components/Waves/dist/waves.min.js}"></script>
<script th:src="@{/vendors/bootstrap-growl/bootstrap-growl.min.js}"></script>
<script th:src="@{/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js}"></script>
<script th:src="@{/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/vendors/bower_components/flot/jquery.flot.pie.js}"></script>
<script th:src="@{/vendors/bower_components/autosize/dist/autosize.min.js}"></script>
<script th:src="@{/vendors/bootgrid/jquery.bootgrid.updated.min.js}"></script>


<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js}"></script>
    <![endif]-->

<script th:src="@{/js/flot-charts/curved-line-chart.js}"></script>
<script th:src="@{/js/flot-charts/line-chart.js}"></script>
<script th:src="@{/js/flot-charts/pie-chart.js}"></script>
<script th:src="@{/js/charts.js}"></script>

<script th:src="@{/vendors/bower_components/chosen/chosen.jquery.min.js}"></script>
<script th:src="@{/vendors/fileinput/fileinput.min.js}"></script>
<script th:src="@{/vendors/farbtastic/farbtastic.min.js}"></script>

<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/demo.js}"></script>



<script type="text/javascript">
    $(document).ready(function () {
        //Basic Example
        $("#data-table-basic").bootgrid({
            css: {
                icon: 'zmdi icon',
                iconColumns: 'zmdi-view-module',
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less'
            },
            ajax: false,
            formatters: {
                "link": function (column, row) {
                    return "<a href=\"" + row.link + "\">" + row.link + "</a>";
                }
            }
        });

    });
</script>

<script th:src="@{/vendors/input-mask/input-mask.min.js}"></script>

