<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head th:include="fragments/head"></head>

<body class="page-header-fixed bg-1">

	<div class="modal-shiftfix">

		<div th:include="fragments/sidebar"></div>


		<div class="container-fluid main-content">
			<div class="page-title">
				<h1>Cadastro de Competidor</h1>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="widget-container">
					
						<div th:if="${success == false}" class="alert alert-danger" role="alert">Não foi possível cadastrar o competidor</div>
						
						<div class="heading">
							<i class="fa fa-shield"></i>Informações do competidor
						</div>
						<div class="widget-content padded">
							<form th:action="@{/competitors}" th:object="${competitor}" method="POST" enctype="multipart/form-data">
							
								<input type="hidden" id="id" name="id" th:value="${competitor.id}">
								<input type="hidden" id="profilePictureUrl" name="profilePictureUrl" th:value="${competitor.profilePictureUrl}">
								
								<div class="form-group">
									<div class="col-md-2" style="margin-top: 5px;">
										<div class="fileupload fileupload-new"
											data-provides="fileupload">
											
											<div th:if="${competitor.profilePictureUrl == null || competitor.profilePictureUrl == ''}" 
												class="fileupload-new img-thumbnail"
												style="width: 200px; height: 150px;">
												<img
													src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image">
											</div>
											
											<div th:if="${competitor.profilePictureUrl != null && competitor.profilePictureUrl != ''}" 
												class="fileupload-new img-thumbnail"
												style="width: 200px; height: 150px;">
												<img
													th:src="${competitor.profilePictureUrl}">
											</div>
											
											<div
												class="fileupload-preview fileupload-exists img-thumbnail"
												style="width: 200px; max-height: 150px"></div>
											<div style="text-align: left">
												<span class="btn btn-default btn-file"><span
													class="fileupload-new">Select image</span><span
													class="fileupload-exists">Change</span><input type="file" id="file" name="file"></span><a
													class="btn btn-default fileupload-exists"
													data-dismiss="fileupload" href="form-components.html#">Remove</a>
											</div>
											
										</div>
									</div>
								</div>

								<fieldset>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="name">Nome</label>
													<input
													th:class="${#fields.hasErrors('name') ? 'form-control error': 'form-control'}"
													id="name" name="name"
													type="text"
													th:value="${competitor.name}">
													<label class="error" for="name" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
											</div>
											<div class="form-group">
												<label for="serie">Série</label>
												<input
													th:class="${#fields.hasErrors('serie') ? 'form-control error': 'form-control'}" 
													id="serie" name="serie"
													type="text"
													th:value="${competitor.serie}">
													<label class="error" for="serie" th:if="${#fields.hasErrors('serie')}" th:errors="*{serie}"></label>
											</div>
											<div class="form-group">
												<label for="city">Cidade</label>
												<input
													th:class="${#fields.hasErrors('city') ? 'form-control error': 'form-control'}" 
													id="city" name="city"
													type="text"
													th:value="${competitor.city}">
													<label class="error" for="city" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></label>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="state">Estado</label><input
													th:class="${#fields.hasErrors('state') ? 'form-control error': 'form-control'}" 
													id="state" name="state"
													type="text"
													th:value="${competitor.state}">
													<label class="error" for="name" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></label>
											</div>
											<div class="form-group">
												<label for="country">País</label>
												<input 
													th:class="${#fields.hasErrors('country') ? 'form-control error': 'form-control'}"
													id="country" 
													name="country" 
													type="text"
													th:value="${competitor.country}">
													<label class="error" for="country" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></label>
											</div>
											<div class="form-group">
												<label for="profileDescription">Descrição de Perfil</label><input
													th:class="${#fields.hasErrors('profileDescription') ? 'form-control error': 'form-control'}" 
													id="profileDescription"
													name="profileDescription" type="text"
													th:value="${competitor.profileDescription}">
													<label class="error" for="profileDescription" th:if="${#fields.hasErrors('profileDescription')}" th:errors="*{profileDescription}"></label>
											</div>
										</div>
									</div>
									<input class="btn btn-info" type="submit" value="Salvar">
									<a class="btn btn-default" type="submit" href="/competitors">Cancelar</a>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	
	<script type="text/javascript">
		$('#competitors').attr('class', 'current');
	</script>
	
</body>
</html>
