<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head th:include="fragments/head"></head>

<body class="page-header-fixed bg-1">

	<div class="modal-shiftfix">

		<div th:include="fragments/sidebar"></div>


		<div class="container-fluid main-content">
			<div class="page-title">
				<h1>Cadastro de Post (Instagram)</h1>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="widget-container">
					
						<div th:if="${success == false}" class="alert alert-danger" role="alert">Não foi possível cadastrar o post</div>
						
						<div class="heading">
							<i class="fa fa-shield"></i>Informações do post
						</div>
						<div class="widget-content padded">
							<form th:action="@{/instagram-posts}" th:object="${post}" method="POST" enctype="application/x-www-form-urlencoded">
							
								<input type="hidden" id="id" name="id" th:value="${post.id}">
																							
								<fieldset>
									<div class="row">
										<div class="col-md-6">
										
											<div class="form-group">
												<label for="description">Competidor</label>
																												
												<select class="form-control" id="competitor" name="competitor" th:value="competitor">
													<option th:each="competitor: ${competitors}" th:value="${competitor.id}"
														th:text="${competitor.name + ' - ' + competitor.serie}"
														th:selected="${post.competitor != null && competitor.id == post.competitor.id}"></option>
												</select>
											</div>
										
											<div class="form-group">
												<label for="description">Descrição</label>
													<input
													th:class="${#fields.hasErrors('description') ? 'form-control error': 'form-control'}"
													id="description" name="description"
													type="text"
													th:value="${post.description}">
													<label class="error" for="description" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
											</div>
											<div class="form-group">
												<label for="pageId">Post Short Code</label>
												<input
													th:class="${#fields.hasErrors('postShortCode') ? 'form-control error': 'form-control'}" 
													id="postShortCode" name="postShortCode"
													type="text"
													th:value="${post.postShortCode}">
													<label class="error" for="postShortCode" th:if="${#fields.hasErrors('postShortCode')}" th:errors="*{postShortCode}"></label>
											</div>
											<div class="form-group">
												<label for="city">Hashtag</label>
												<input
													th:class="${#fields.hasErrors('filterTag') ? 'form-control error': 'form-control'}" 
													id="filterTag" name="filterTag"
													type="text"
													th:value="${post.filterTag}">
													<label class="error" for="filterTag" th:if="${#fields.hasErrors('filterTag')}" th:errors="*{filterTag}"></label>
											</div>
										</div>										
									</div>
									<input class="btn btn-info" type="submit" value="Salvar">
									<a class="btn btn-default"  href="/instagram-posts">Cancelar</a>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>




	</div>
	
	<script type="text/javascript">
		$('#posts').attr('class', 'current');
	</script>
	
</body>
</html>
